<!-- <mat-card class="card-feed-entry">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      {{feed.title}}
    </mat-card-header>

    <mat-card-content>
      <p>
          {{feed.author}} - {{feed.pubDate | date: 'dd-MM-yyyy'}}
      </p>
      <pre [innerHTML]="feed.description"></pre>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button><a href="{{feed.link}}" target="_blank">View</a></button>
    </mat-card-actions>
  </mat-card> -->